@import "node_modules/bootstrap/scss/bootstrap";
@import "./navigation.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

a {
  color: #279AF1;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.button {
  padding: 10px 30px 10px;
  text-decoration: none;
  color: #fff;
  background: $blue;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.button:hover {
  opacity: 1;
}

.container {
  max-width: 1024px;
  min-height: 100vh;
  background: #f9f9f9;
  margin: 0 auto;
}

.employments label span {
  font-size: 140%;
  margin: 50px auto 20px;
  display: block;
  text-align: center;
  font-style: italic;
}

.employments input {
  padding: 11px;
  font-size: 18px;
  width: 500px;
  margin: 20px auto 50px;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px lightgray;
  display: block;
}

.results {
  margin-top: -10px;

  li {
    list-style: none;
    padding: 10px 15px;
  }
}

.body {
  padding: 15px;
}

.jumbo {
  padding: 50px;
  background: #f6f6f6;

  h2 {
    font-size: 3.2em;
    margin-top: -25px;
  }
  p, address {
    margin-bottom: 25px;
  }
  img {
    height: 150px;
    position: relative;
  }
  &:hover {
    background-color: #f3f3f3;
  }
}

.employment {
  margin-top: 100px;
  background-color: #f6f6f6;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;

  &:hover {
    background-color: #f3f3f3;
  }
   img {
    border-radius: 5px;
  }
  .image {
    flex-grow: 0;
    color: #c11b0d;
    position: relative;
  }
  .image img {
    max-width: 100%;
  }
  button.image {
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
    z-index: 1;
  }
  button.image:focus {
    outline: none;
  }
  button.image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: -20px;
    padding: 20px;
    border-radius: 5px;
    background: #279AF1;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
  button.image:focus:after,  button.image:hover:after {
    opacity: 0.1;
  }
  .details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    width: 50%;
  }
  .show-more-button {
    margin-top: 10px;
  }
  h3 a {
    display: inline;
  }
  .detail {
    font-weight: 300;
    font-style: italic;
    white-space: nowrap;
  }
  .detail span {
    font-weight: 400;
    font-style: normal;
  }
  .detailed {
    background: none;
    align-items: flex-start;
  }
  .detailed .image {
    flex-basis: 320px;
  }
  .detailed .image.large {
    margin: 30px 25px 50px 25px;
    flex-basis: 100%;
  }
  .detailed .details {
    height: auto;
  }
  .detailed h3 {
    font-size: 200%;
    margin-bottom: 10px;
  }
  .detailed .detail {
    margin: 5px 0px;
    flex-basis: 100%;
    flex-shrink: 2;
  }
  .detailed .description {
    white-space: normal;
    flex-basis: 100%;
    flex-shrink: 1;
  }
}

@media only screen and (max-width: 919px) {
  .employment {
    .detailed {
      .image, .employment.detailed .image.large {
        margin: 30px 25px 25px 25px;
        flex-basis: 100%;
        cursor: default;
      }
      .image:hover {
        flex-basis: 100%;
        cursor: default;
      }
      .image small {
        display: none;
      }
      button.image:hover:after {
        opacity: 0;
      }
      button.image:focus:after {
        opacity: 0.1;
      }
    }
  }
}

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
