@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "/assets/bootstrap-icons/font/bootstrap-icons.css";

@import "employment.scss";
@import "navigation.scss";
@import "variables.scss";

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

a {
  color: #279AF1;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.button {
  padding: 10px 30px 10px;
  text-decoration: none;
  color: #fff;
  background: $blue;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.button:hover {
  opacity: 1;
}

.container {
  max-width: 1024px;
  min-height: 100vh;
  background: #f9f9f9;
  margin: 0 auto;
}

.employments label span {
  font-size: 140%;
  margin: 50px auto 20px;
  display: block;
  text-align: center;
  font-style: italic;
}

.employments input {
  padding: 11px;
  font-size: 18px;
  width: 500px;
  margin: 20px auto 50px;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px lightgray;
  display: block;
}

.results {
  margin-top: -10px;

  li {
    list-style: none;
    padding: 10px 15px;
  }
}

.body {
  padding: 15px;
}

.jumbo {
  padding: 50px;
  background: #f6f6f6;

  h2 {
    font-size: 3.2em;
    margin-top: -25px;
  }
  p, address {
    margin-bottom: 25px;
  }
  img {
    height: 150px;
    position: relative;
  }
  &:hover {
    background-color: #f3f3f3;
  }
}

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
