{{yield}}
<div class="job">
  <div class="details">
    <h3>Toys R Us</h3>
    <div class="detail date-range">
      <div>
        <span>Start Date:</span> November 2008
      </div>
      <div>
        <span>End Date:</span> January 2009
      </div>
    </div>
    <div class="detail pay-range">
      <div>
        <span>Starting Pay:</span> $8/hour
      </div>
      <div>
        <span>Ending Pay:</span> $8/hour
      </div>
    </div>
    <div class="detail location">
      <span>Location:</span> Fort Collins, CO
    </div>
    <div class="detail career">
      <span>Part of my career in:</span> Retail Sales
    </div>
  </div>
</div>