<nav class="main-navigation">
  <div class="container-fluid">
    <LinkTo @route="index" class="navbar-brand" id="menu-index">Bristle</LinkTo>
    <button class="navbar-toggler"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      data-bs-target="#navbarSupportedContent"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="expandable-navbar">
        <li class="nav-item">
          <LinkTo @route="sign-up" aria-current="page" class="nav-link active" id="menu-sign-up">
            Sign up
          </LinkTo>
        </li>
      </ul>
    </div>
  </div>
</nav>
