<nav class="main-navigation">
  <div class="container-fluid">
    <LinkToPage
      @route="index"
      @content="Bristle"
      @class="navbar-brand"
      @data-test-link-to-page="navbar-bristle-logo"
      @id="menu-index"
    />
    <button class="navbar-toggler"
      aria-controls="navbar-content"
      aria-expanded="false"
      aria-label="Toggle navigation"
      data-bs-target="#navbar-content"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="expandable-navbar">
        <li class="nav-item">
          <LinkToPage
            @route="sign-up"
            @content="Sign up"
            @class="nav-link active"
            @data-test-link-to-page="navbar-sign-up"
            @id="menu-sign-up"
            @aria-current="page"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
