<div class="row padded-row">
  <h2 class="header">About Bristle</h2>
  <p>
    Bristle is a career portfolio builder. Use it to maintain all of your work and education history so you can easily put together resumes, complete job applications, and track your career trajectory over time.
  </p>
  <p>Created at Novum Opus, LLC.</p>
</div>
