<Jumbo>
  <h2>About Course of Life</h2>
  <p>
    Course of Life allows you to build a personalized career portfolio that you can use to share your body of work, generate resumes, and observe your career trajectory over time.
  </p>
  <p>Created at Novum Opus, LLC.</p>
</Jumbo>