<h2>About Bristle</h2>
<p>Join the waitlist here!</p>
<p>
  Bristle allows you to build a personalized career portfolio that you can use to share your body of work, generate resumes, and observe your career trajectory over time.
</p>
<p>Created at Novum Opus, LLC.</p>