<div class="jumbo">
  <h2>About PathSketch</h2>
  <p>
      PathSketch allows you to sketch out your future before you build it.
  </p>
  <p>Created at Novum Opus.</p>
  <LinkTo @route="index" class="button">Home</LinkTo>
  <LinkTo @route="about" class="button">About Us</LinkTo>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</div>