<Jumbo>
  <h2>Contact Us</h2>
  <p>
    Get in touch with us using the contact information below.
  </p>
  <address>
    <a href="tel:970.217.4348">+1 (970) 217-4348</a><br>
    <a href="mailto:dan@novumopus.com">dan@novumopus.com</a>
  </address>
</Jumbo>