<div class="jumbo">
    <h2>PathSketch</h2>
    <p>Model your future.</p>
    <LinkTo @route="index" class="button">Home</LinkTo>
    <LinkTo @route="about" class="button">About Us</LinkTo>
    <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</div>