<div class="row padded-centered-row">
  <h1 class="bold-h1">Prepare Your Career for Takeoff.</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Bristle is a career portfolio builder. Use it to maintain all of your work and education history so you can easily put together resumes, complete job applications, and track your career trajectory over time.
    </p>
    <p class="lead mb-4">Created at Novum Opus, LLC.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <LinkTo @route="sign-up" class="btn btn-primary btn-lg px-4 gap-3">Sign up</LinkTo>
    </div>
  </div>
</div>
