<div class="row padded-centered-row">
  <h1 class="bold-h1">Prepare Your Career for Takeoff.</h1>
  <div class="half-width-column">
    <p class="headline">
      Bristle is a career portfolio builder. Use it to maintain all of your work and education history so you can easily put together resumes, complete job applications, and track your career trajectory over time.
    </p>
    <p class="headline">Created at Novum Opus, LLC.</p>
    <div class="button-container">
      <LinkToPage
        @route="sign-up"
        @content="Sign up"
        @class="primary-button action-button"
      />
    </div>
  </div>
</div>
