<Jumbo>
  <h2>Welcome!</h2>
  <LinkTo @route="about" class="button">Learn about Bristle</LinkTo>
  <div class="jobs">
    <ul class="results">
      <li><Job /></li>
      <li><Job /></li>
      <li><Job /></li>
    </ul>
  </div>
</Jumbo>
