<div class="padded-centered-row">
  <h2 class="bold-h2">Sign up</h2>
  <form {{on "submit" this.createUser}}>
    <div class="form-field">
      <Input
        @type="text"
        @value={{@model.firstName}}
        class="form-control"
        data-test-sign-up-first-name
        id="first-name"
        name="first-name"
        placeholder="First Name"
      />
      <label for="first-name">First name</label>
    </div>
    <div class="form-field">
      <Input
        @type="text"
        @value={{@model.lastName}}
        class="form-control"
        data-test-sign-up-last-name
        id="last-name"
        name="last-name"
        placeholder="Last Name"
      />
      <label for="last-name">Last name</label>
    </div>
    <div class="form-field">
      <Input
        @type="email"
        @value={{@model.email}}
        class="form-control"
        data-test-sign-up-email
        id="email"
        name="email"
        placeholder="Email address"
      />
      <label for="email">Email address</label>
    </div>
    <div class="button-container">
      <button class="primary-button form-button" data-test-sign-up-submit type="submit">Create account</button>
    </div>
  </form>
</div>
