<div class="row padded-centered-row">
  <h2 class="bold-h2">Sign up</h2>
  <form {{on "submit" this.createUser}}>
    <div class="form-field">
      <Input @class="form-control" @id="email" @name="email" @placeholder="name@example.com" @type="email" @value={{this.email}} />
      <label for="email">Email address</label>
    </div>
    <div class="button-container">
      <button class="primary-button form-button" type="submit">Create account</button>
    </div>
  </form>
</div>
